<html>
<head>
  AMAZON 
</head>
<body><form method="post" action="/admin">
  UserName:<input type="text" name="username">
  Password:<input type="password" name="password">
  <input type="submit" name="Login">
</body>
</html>