<html>
<head>
  AMAZON 
</head>
<body><form method="post" action="/success">
  ProductName:<input type="text" name="productName">
  Description:<input type="text" name="description">
  Qty:<input type="text" name="quantity">
  Price: <input type="text" name="price"> 
  Category: <input type="text" name="category"> 
  <input type="submit" name="Add">
</body>
</html>